@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
a:hover{
  text-decoration: none;
}

h1 , h2 , h3 , h4{
    padding: 0rem;
    margin: 0rem;
}

.header{
     width: 100%;
     height: 100vh;
     background-image:linear-gradient(rgba(255,255,255,0.4) ,  rgba(255,255,255,0.4)) ,  url(/assets/images/background2.jpg);
     background-repeat: no-repeat;
     position: relative;
     /*clip-path: polygon(100% 0% , 100% 75% , 50% 100% , 0% 75% , 0% 0%);*/
     background-size:cover;
     background-attachment: fixed;
    background-position: 0vh 0vw;
 }

 .header:before{
     position: absolute;
     content: "";
     left: 0%;
     right: 0%;
     bottom: 0%;
     top: 0%;
     opacity: 0.3;
     background: linear-gradient(to right,#ECF0F1 0% , #F6DDCC  0% , #D5DBDB 100% );
     z-index: -1;
 }

 .navbar:before{
    position: absolute;
    content: "";
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    opacity: 0.3;
    background: linear-gradient(to right,#ECF0F1 0% , #F6DDCC  0% , #D5DBDB 100% );
    z-index: -1;
 }
.navbar-brand{
    color: black;
}
 .nav-item a{
     color: black!important;
     font-family:'Noto Sans JP' , sans-serif;
     font-weight: normal;
     
 }
 .nav-item a:active{
     color: white!important;
     font-family:'Noto Sans JP' , sans-serif;
     font-weight: bold;
 }

 .nav-item a:hover{
    
    color: white!important;
    font-family:'Noto Sans JP' , sans-serif;
    font-weight: bold;
}
 nav{
     position: sticky!important;
 }

.header-section{
    width: 100%;
    height: inherit;
    text-align: center;
    text-transform: uppercase;
    color:black;
    position: relative;
}
.center-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 0 1rem 0 1rem;
    font-size: 2.5rem;
}
.center-text p{
    font-size: 1.2rem;
    font-weight: normal;
    padding: 0 0.5rem 0 1rem;
    font-family: 'Poppins', sans-serif;
}
.center-text{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%,-50%);
    -ms-transform: translate(-40%,-50%);
    -webkit-transform: translate(-40%,-50%);
}

.center-button button{
   font-weight: bold;
   padding: 0.2rem;
}
.container-fluid{
    display: flex;
    height: auto;
    padding: 2.2rem;
    margin: 0;
    position: relative;
    background-image:linear-gradient(rgba(255,255,255,0.4) ,  rgba(255,255,255,0.4)) ,  url(/assets/images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-attachment: fixed;
}
.intro h2{
    font-family: 'Poppins', sans-serif;
    padding: 2.5rem;
    display: block;
    font-size: 2rem;
    color: black;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    max-width: 50%;
    top: 0%;
    left: 30%;
}
.intro h2 span{
    font-size: 3rem;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
}
.picture img{
    height: 75vh;
    width:100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    margin: auto;
}

.description{
    position: absolute;
    left: 0;
    top: 25%;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
}

.socialmedia{
    width: 100%;
    height: 2rem;
    margin:  auto ;
    align-items: center;
    padding: 0.5rem;
}
.logo{
    left: 8%;
}
.logo a i{
 color: grey;
}
.logo a i:hover{
    box-shadow: 20px 20px 20px 20px rgba(255,255,255,0.4)!important;
    transform: translateY(-10px);
}
.skills{
    height: auto;
    width: 100%;
    position: relative;
    padding: 2rem 2rem;
    background:linear-gradient( to bottom ,   rgba(220,220,220,0.4) , rgba(255,255,224,0.3)) , url(/assets/images/skills_converted.jpg);
    background-size:cover;
    opacity: 1;
    z-index: -1;
    background-repeat: no-repeat;
}
.heading h2{
    text-transform: uppercase;
    color: black;
    margin: auto;
    align-items: center;
    font-size: 2rem;
    padding: 0 0.5rem;
}

.services{
   width: 100%;
   height: 100vh;
   padding: 1rem 2rem;
   display: block;
   justify-content: center;
   margin: auto;
   align-items: center;
}

.services h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    color: black;
    font-weight: bold;
    font-family: 'Poppins' , sans-serif;
    font-weight: normal;
}

.progress{
    height: 1rem!important;
    width: 70vw!important;
    margin-bottom: 1rem!important;
}

.education{
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    margin: auto;
    background: linear-gradient( to bottom , #635757e6 , rgba(255,255,224,0.4)) , url(/assets/images/education.jpg);
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    position: relative;
}

.education .heading h2{
    display: block;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    font-family: 'Poppins' , sans-serif;
    padding-top: 2rem;
    padding-bottom:2rem ;
}

.college{
 width: 100%;
 height: 100vh;
 padding-top: 2rem;
 padding-bottom: 2rem;
 margin: auto;
 position: absolute;
 top: 20%;
}

.college h1 , h2 ,  h4{
    color:whitesmoke;
    font-family: 'Poppins' , sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.college h1{
   padding: 1rem 0.8rem;
   font-size: 1.8rem;
}

.college h2{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
 }
 .college h4{
    padding-left: 1rem;
    font-size: 1.2rem;
    padding-right: 1rem;
    padding-bottom: 0.3rem;
 }

 

 .experience .heading h2{
        display: flex;
        justify-content: center;
        color: white;
        text-align: center;
        margin: auto;
        font-size: 2.5rem;
        font-family: 'Poppins' , sans-serif;
        padding-top: 2rem;
        padding-bottom:2rem;
 }

 .experience{
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    margin: auto;
    background: /*linear-gradient( to bottom , rgba(46,100,254,1) , rgba(1,169,219,0.9)) ,*/ url(/assets/images/exp.jpg);
    background-size:100% 100%;
    z-index: -1;
    background-repeat: no-repeat;
    position: relative;
 }

.eeesoc , .rotaract{
    width: 100%;
    height: 50%;
    padding: 2rem 2rem;
    font-family: 'Poppins' , sans-serif;
    text-align: center;
}

.eeesoc h2 , .rotaract h2{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins' , sans-serif;
}

.contactme{
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 1rem 1rem;
    background-image: url(/assets/images/computers.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.contactme .heading h2{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    margin: auto;
    font-size: 2.5rem;
    font-family: 'Poppins' , sans-serif;
    padding-top: 2rem;
    padding-bottom:2rem;   
}


#username , #Email , #mobile , #Comment{
    background-color: black;
    color: white;
}
